
<!-- 注意......要使用async管道异步订阅products: Observable流 -->
<div *ngFor="let product of (products|async)" class="col-md-4 col-sm-4 col-lg-4">
  <div class="thumbnail">
    <img [src]="imgUrl">
    <div class="caption">
      <h4 class="pull-right">{{product.price}}元</h4>
      <h4><a [routerLink]="['/product',product.id]">{{product.title}}</a></h4>
      <p>{{product.desc}}</p>
    </div>
    <div>
      <!-- 从父组件传递属性到子组件 -->
      <app-starts [rating]="product.rating"></app-starts>
    </div>
  </div>
</div>