<!-- 绑定组件formModel:FormGroup,指定angular提交按钮触发方法,禁用浏览器默认验证 -->
<form [formGroup]="formModel" (ngSubmit)="onSearch()" novalidate>

  <!-- 当title的minLength校验不合格时,添加bootstrap has-error -->
  <div class="form-group" [class.has-error]="formModel.hasError('minlength','title')">
    <label for="productTitle">商品名称:</label>
    <!-- 绑定控制器中的属性 -->
    <input formControlName="title" type="text" id="productTitle" placeholder="商品名称" class="form-control">
    <span class="help-bock" [class.hidden]="!formModel.hasError('minlength','title')">请至少输入3位</span>
  </div>
  <div class="form-group" [class.has-error]="formModel.hasError('postitiveNum','price')">
    <label for="productPrice">商品价格:</label>
    <input formControlName="price" type="number" id="productPrice" placeholder="商品价格" class="form-control">
    <span class="help-bock" [class.hidden]="!formModel.hasError('postitiveNum','price')">请输入正数!</span>
  </div>
  <div class="form-group">
    <label for="productCategory">商品价格:</label>
    <select  formControlName="category" id="productCategory" class="form-control">
      <option value="-1">全部分类</option>
      <option *ngFor="let cgt of categories" [value]="cgt">{{cgt}}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">搜索</button>
  </div>
</form>